/* line 2, ../scss/contact.scss */
.og__contact {
  margin-top: 45px;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}
/* line 9, ../scss/contact.scss */
.og__contact h3 {
  text-align: center;
  margin-bottom: 30px;
}
