/* line 3, ../scss/contact.scss */
.og__contact {
  margin-top: 45px;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}
/* line 9, ../scss/contact.scss */
.og__contact h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 14, ../scss/contact.scss */
.og__contact p {
  text-align: center;
}
/* line 18, ../scss/contact.scss */
.og__contact__form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}
/* line 26, ../scss/contact.scss */
.og__contact__email, .og__contact__message, .og__contact__name {
  padding-left: 15px;
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
/* line 37, ../scss/contact.scss */
.og__contact__name {
  width: 100%;
}
/* line 41, ../scss/contact.scss */
.og__contact__submit {
  color: #fff;
  background: #FB6964;
  font-size: 14px;
  border: none;
  width: 100%;
  line-height: 32px;
  border: 1px solid #FB6964;
}
/* line 50, ../scss/contact.scss */
.og__contact__submit:hover {
  color: #FB6964;
  background: #fff;
  border: 1px solid #FB6964;
  cursor: pointer;
}
/* line 58, ../scss/contact.scss */
.og__contact__error {
  color: #FB6964;
}
/* line 62, ../scss/contact.scss */
.og__contact__success {
  color: #555;
}
/* line 66, ../scss/contact.scss */
.og__contact__social {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
/* line 71, ../scss/contact.scss */
.og__contact__social a {
  color: #555;
  border: 1px solid #ddd;
  line-height: 0;
  border-radius: 100%;
  margin: 0;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 30px;
  font-size: 16px;
  padding: 10px;
  width: 40px;
}
/* line 85, ../scss/contact.scss */
.og__contact__social a i {
  margin: 0;
}
/* line 89, ../scss/contact.scss */
.og__contact__social a:hover {
  color: #fff;
  background: #FB6964;
}
