/* line 3, ../scss/footer.scss */
.og__footer {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 11, ../scss/footer.scss */
.og__footer__copyright {
  color: #fff;
}
