/* line 3, ../scss/footer.scss */
.og__footer {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  padding: 50px 30px;
}
/* line 9, ../scss/footer.scss */
.og__footer__copyright {
  color: #fff;
}
