/* line 3, ../scss/grid.scss */
.grid-wrapper {
  margin: 0 30px;
}
/* line 6, ../scss/grid.scss */
.grid-wrapper .grid-full {
  margin-left: -30px;
  margin-right: -30px;
}

@media screen and (min-width: 768px) {
  /* line 13, ../scss/grid.scss */
  .grid-wrapper {
    margin: 0 40px;
  }
  /* line 16, ../scss/grid.scss */
  .grid-wrapper .grid-full {
    margin-left: -40px;
    margin-right: -40px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 24, ../scss/grid.scss */
  .grid-wrapper {
    max-width: none;
    margin: 0 60px;
  }
  /* line 28, ../scss/grid.scss */
  .grid-wrapper .grid-full {
    margin-left: -60px;
    margin-right: -60px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 36, ../scss/grid.scss */
  .grid-wrapper {
    max-width: 1600px;
    padding: 0 60px;
    margin: 0 auto;
  }
}
