/* line 3, ../scss/header.scss */
.og__header {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  height: 100%;
  padding: 0 30px;
  display: inline-block;
  width: 100%;
}
/* line 12, ../scss/header.scss */
.og__header__nav-container {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  z-index: 99;
  background: #FB6964;
  display: inline-block;
  color: #fff;
  position: fixed;
  left: 0;
}
/* line 22, ../scss/header.scss */
.og__header__nav-container nav {
  position: relative;
  margin: auto;
  height: 100%;
  display: inline-block;
  width: 100%;
  padding: 0 30px;
}
/* line 35, ../scss/header.scss */
.og__header__logo h3 {
  color: #fff;
  float: left;
  z-index: 99999;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 45px;
  text-transform: uppercase;
}
/* line 47, ../scss/header.scss */
.og__header__links {
  margin-left: auto;
  position: absolute;
  bottom: 10px;
  right: 0;
}
/* line 53, ../scss/header.scss */
.og__header__links a {
  color: #fff;
}
/* line 57, ../scss/header.scss */
.og__header__links li {
  display: inline-block;
  float: right;
  position: relative;
  padding: 20px 15px 0;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
/* line 72, ../scss/header.scss */
.og__header__title {
  text-align: center;
  line-height: 40px;
  color: #fff;
  display: block;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 84, ../scss/header.scss */
.og__header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 27px;
  text-transform: uppercase;
  color: #fff;
}
/* line 95, ../scss/header.scss */
.og__header__down {
  margin: auto;
  color: #fff;
  text-align: center;
  display: block;
  bottom: 0;
  position: absolute;
  left: 50%;
}
