/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/
/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
/* line 18, ../scss/headhesive.scss */
.banner--clone {
  /* Required styles */
  position: fixed;
  z-index: 1;
  /* Additional styles */
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 27, ../scss/headhesive.scss */
.banner--clone h3,
.banner--clone .og__header__links,
.banner--clone a {
  color: #555;
}

/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
/* line 59, ../scss/headhesive.scss */
.banner--stick {
  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 999;
}

/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
/* line 81, ../scss/headhesive.scss */
.banner--unstick {
  /* Not required to use, but could be useful to have */
}
