/* line 1, ../scss/type.scss */
.heading-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 5, ../scss/type.scss */
.body-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 1, ../scss/header.scss */
.og__header {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  height: 100%;
  padding: 0 30px;
}
/* line 8, ../scss/header.scss */
.og__header__nav-container {
  display: flex;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0);
}
/* line 20, ../scss/header.scss */
.og__header__logo h3 {
  color: #fff;
  float: left;
  z-index: 99999;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: 45px;
  text-transform: uppercase;
}
/* line 33, ../scss/header.scss */
.og__header__links {
  color: #fff;
  margin-left: auto;
}
/* line 37, ../scss/header.scss */
.og__header__links li {
  display: inline-block;
  float: right;
  position: relative;
  padding: 20px 15px 0;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
/* line 53, ../scss/header.scss */
.og__header__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 40px;
}
/* line 65, ../scss/header.scss */
.og__header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 27px;
  text-transform: uppercase;
  color: #fff;
}

/* line 1, ../scss/footer.scss */
.og__footer {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  padding: 50px 30px;
}
/* line 7, ../scss/footer.scss */
.og__footer__copyright {
  color: #fff;
}

/* line 1, ../scss/contact.scss */
.og__contact {
  margin: 0;
  background-color: orange;
  position: relative;
  padding: 0 30px;
}

/* line 1, ../scss/profile.scss */
.og__profile {
  margin: 0;
  background-color: white;
  position: relative;
  padding: 0 30px;
}

/* line 1, ../scss/recommendations.scss */
.og__recommendations {
  margin: 0;
  background-color: yellow;
  position: relative;
  padding: 0 30px;
}
