/* line 2, ../scss/global.scss */
[v-cloak] {
  display: none;
}

/* line 1, ../scss/type.scss */
.heading-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 5, ../scss/type.scss */
.body-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 3, ../scss/footer.scss */
.og__footer {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  padding: 50px 30px;
}
/* line 9, ../scss/footer.scss */
.og__footer__copyright {
  color: #fff;
}

/* line 2, ../scss/contact.scss */
.og__contact {
  margin-top: 45px;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}
/* line 9, ../scss/contact.scss */
.og__contact h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 14, ../scss/contact.scss */
.og__contact p {
  text-align: center;
}
/* line 18, ../scss/contact.scss */
.og__contact__social {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
/* line 22, ../scss/contact.scss */
.og__contact__social a {
  color: #555;
  border: 1px solid #ddd;
  line-height: 0;
  border-radius: 100%;
  margin: 0;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 30px;
  font-size: 16px;
  padding: 10px;
  width: 40px;
}
/* line 36, ../scss/contact.scss */
.og__contact__social a i {
  margin: 0;
}
/* line 40, ../scss/contact.scss */
.og__contact__social a:hover {
  color: #fff;
  background: #FB6964;
}

/* line 4, ../scss/brand.scss */
.og__brand {
  margin: 0;
  background-color: #f2f2f2;
  position: relative;
  padding: 50px 30px;
}
/* line 10, ../scss/brand.scss */
.og__brand__container {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
}
/* line 16, ../scss/brand.scss */
.og__brand__item {
  padding: 0 70px;
  margin: 0 auto;
}
/* line 20, ../scss/brand.scss */
.og__brand__item img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 27, ../scss/brand.scss */
.og__brand__item img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 37, ../scss/brand.scss */
.og__brand h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 42, ../scss/brand.scss */
.og__brand p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 48, ../scss/brand.scss */
  .og__brand__container {
    display: flex;
    flex-direction: row;
  }
  /* line 53, ../scss/brand.scss */
  .og__brand__item {
    padding: 0 30px;
  }
}

/* line 4, ../scss/profile.scss */
.og__profile {
  background-color: #f2f2f2;
  position: relative;
  padding: 40px 30px;
  display: inline-block;
  width: 100%;
}
/* line 12, ../scss/profile.scss */
.og__profile__container {
  margin: auto;
  text-align: center;
}
/* line 18, ../scss/profile.scss */
.og__profile__avatar img {
  height: 100px;
  border-radius: 100%;
}
/* line 24, ../scss/profile.scss */
.og__profile h3 {
  text-align: center;
  padding-bottom: 30px;
}
/* line 29, ../scss/profile.scss */
.og__profile p {
  text-align: center;
}
/* line 33, ../scss/profile.scss */
.og__profile--center {
  margin: auto;
}
@media screen and (min-width: 768px) {
  /* line 38, ../scss/profile.scss */
  .og__profile__desc {
    padding: 0 80px;
  }
}

/* line 5, ../scss/recommendations.scss */
.og__recommendations {
  margin: 45px 0;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}
/* line 11, ../scss/recommendations.scss */
.og__recommendations h3 {
  text-align: center;
}
/* line 15, ../scss/recommendations.scss */
.og__recommendations__wrapper {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
/* line 23, ../scss/recommendations.scss */
.og__recommendations__item {
  padding-right: 15px;
  width: 100%;
  text-align: center;
}
/* line 29, ../scss/recommendations.scss */
.og__recommendations__item:hover .og__recommendations__hover {
  display: block;
}
/* line 33, ../scss/recommendations.scss */
.og__recommendations__item:hover .og__recommendations__intro {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear, height 0s 1s;
}
/* line 42, ../scss/recommendations.scss */
.og__recommendations__author {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 47, ../scss/recommendations.scss */
.og__recommendations__intro {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
/* line 52, ../scss/recommendations.scss */
.og__recommendations__intro .fa {
  font-size: 40px;
}
/* line 57, ../scss/recommendations.scss */
.og__recommendations__title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
/* line 63, ../scss/recommendations.scss */
.og__recommendations__hover {
  display: none;
  background: #fff;
}
/* line 66, ../scss/recommendations.scss */
.og__recommendations__hover p {
  text-align: center;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  /* line 5, ../scss/recommendations.scss */
  .og__recommendations {
    height: 206px;
  }
  /* line 74, ../scss/recommendations.scss */
  .og__recommendations__wrapper {
    flex-direction: row;
  }
}

/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/
/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
/* line 18, ../scss/headhesive.scss */
.banner--clone {
  /* Required styles */
  position: fixed;
  z-index: 1;
  /* Additional styles */
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 27, ../scss/headhesive.scss */
.banner--clone h3,
.banner--clone .og__header__links,
.banner--clone a {
  color: #555;
}

/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
/* line 59, ../scss/headhesive.scss */
.banner--stick {
  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 999;
}

/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
/* line 81, ../scss/headhesive.scss */
.banner--unstick {
  /* Not required to use, but could be useful to have */
}

/* line 4, ../scss/header.scss */
.og__header {
  margin: 0;
  background-color: #FB6964;
  position: relative;
  height: 100%;
  padding: 0 30px;
  display: inline-block;
  width: 100%;
}
/* line 13, ../scss/header.scss */
.og__header__nav-container {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  z-index: 99;
  background: #FB6964;
  display: inline-block;
  color: #fff;
  position: fixed;
  left: 0;
}
/* line 23, ../scss/header.scss */
.og__header__nav-container nav {
  position: relative;
  margin: auto;
  height: 100%;
  display: inline-block;
  width: 100%;
  padding: 0 30px;
}
/* line 36, ../scss/header.scss */
.og__header__logo h3 {
  color: #fff;
  z-index: 99999;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
/* line 48, ../scss/header.scss */
.og__header__links {
  margin-left: auto;
  position: absolute;
  bottom: 10px;
  right: 0;
  display: none;
}
/* line 55, ../scss/header.scss */
.og__header__links a {
  color: #fff;
}
/* line 59, ../scss/header.scss */
.og__header__links li {
  display: inline-block;
  position: relative;
  padding: 20px 15px 0;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
/* line 73, ../scss/header.scss */
.og__header__title {
  text-align: center;
  line-height: 40px;
  color: #fff;
  display: block;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 85, ../scss/header.scss */
.og__header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 27px;
  text-transform: uppercase;
  color: #fff;
}
/* line 96, ../scss/header.scss */
.og__header__down {
  margin: auto;
  color: #fff;
  text-align: center;
  display: block;
  bottom: 0;
  position: absolute;
  left: 50%;
}
@media screen and (min-width: 768px) {
  /* line 108, ../scss/header.scss */
  .og__header__links {
    display: inline-block;
  }
  /* line 114, ../scss/header.scss */
  .og__header__logo h3 {
    margin-top: 20px;
    text-align: left;
    float: left;
  }
}
