/* line 1, ../scss/type.scss */
.heading-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 5, ../scss/type.scss */
.body-1 {
  font-family: 'Montserrat', sans-serif;
}

/* line 1, ../scss/header.scss */
.og__header {
  margin: 0;
  background-color: #21b57f;
}
/* line 9, ../scss/header.scss */
.og__header__nav-container {
  display: flex;
  align-content: flex-end;
}
/* line 14, ../scss/header.scss */
.og__header__logo {
  width: 70%;
}
/* line 16, ../scss/header.scss */
.og__header__logo h3 {
  color: #fff;
}
/* line 21, ../scss/header.scss */
.og__header__links {
  width: 30%;
  color: #fff;
}
/* line 25, ../scss/header.scss */
.og__header__links li {
  display: inline-block;
}
