/* line 4, ../scss/profile.scss */
.og__profile {
  margin: 0;
  background-color: #fff;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  width: 100%;
}
/* line 13, ../scss/profile.scss */
.og__profile__container {
  margin: auto;
  text-align: center;
}
/* line 19, ../scss/profile.scss */
.og__profile__avatar img {
  height: 100px;
  border-radius: 100%;
}
/* line 25, ../scss/profile.scss */
.og__profile h3 {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}
/* line 31, ../scss/profile.scss */
.og__profile p {
  text-align: center;
}
/* line 35, ../scss/profile.scss */
.og__profile--center {
  margin: auto;
}
@media screen and (min-width: 768px) {
  /* line 40, ../scss/profile.scss */
  .og__profile__desc {
    padding: 0 80px;
  }
}
