/* line 3, ../scss/recommendations.scss */
.og__recommendations {
  margin-top: 45px;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}
/* line 9, ../scss/recommendations.scss */
.og__recommendations h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 14, ../scss/recommendations.scss */
.og__recommendations__wrapper {
  display: flex;
  flex-direction: row;
}
/* line 19, ../scss/recommendations.scss */
.og__recommendations__item {
  padding-right: 15px;
}
/* line 23, ../scss/recommendations.scss */
.og__recommendations__author {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 28, ../scss/recommendations.scss */
.og__recommendations__intro {
  margin: 0 auto;
  text-align: center;
}
/* line 32, ../scss/recommendations.scss */
.og__recommendations__intro .fa {
  font-size: 40px;
}
