@import 'when-than';

.grid-wrapper {
  margin: 0 30px;

  .grid-full {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@include when-wider-than(tablet) {
  .grid-wrapper {
    margin: 0 40px;

    .grid-full {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
}

@include when-wider-than(small_desktop) {
  .grid-wrapper {
    max-width: none;
    margin: 0 60px;

    .grid-full {
      margin-left: -60px;
      margin-right: -60px;
    }
  }
}

@include when-wider-than(large_desktop) {
  .grid-wrapper {
    max-width: 1600px;
    padding: 0 60px;
    margin: 0 auto;
  }
}
