@import "colors";
@import "when-than";

.og__header {
  margin: 0;
  background-color: $background-color;
  position: relative;
  height: 100%;
  padding: 0 30px;
  display: inline-block;
  width: 100%;

  &__nav-container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    z-index: 99;
    background: $primary;
    display: inline-block;
    color: $white;
    position: fixed;
    left: 0;

    nav {
      position: relative;
      margin: auto;
      height: 100%;
      display: inline-block;
      width: 100%;
      padding: 0 30px;

    }

  }

  &__logo {
    h3 {
      color: $white;
      z-index: 99999;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-top: 10px;
      text-align: center;
    }
  }
  &__links {
    margin-left: auto;
    position: absolute;
    bottom: 10px;
    right: 0;
    display: none;

    a {
      color: $white;
    }

    li {
      display: inline-block;
      position: relative;
      padding: 20px 15px 0;
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: normal;
      text-transform: uppercase;
      opacity: 1;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__title {
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    top: 50%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 1px;
      margin-top: 27px;
      text-transform: uppercase;
      color: $white;
    }
  }

  &__down {
    margin: auto;
    color: $white;
    text-align: center;
    display: block;
    bottom: 0;
    position: absolute;
    left: 50%;
  }

  @include when-wider-than(tablet) {

    &__links {
      display: inline-block;
    }

    &__logo {

      h3 {
        margin-top: 20px;
        text-align: left;
        float: left;
      }
    }
  }
}
