@import "colors";
@import "when-than";

.og__profile {
  background-color: $off-white;
  position: relative;
  padding: 40px 30px;
  display: inline-block;
  width: 100%;


  &__container {
    margin: auto;
    text-align: center;
  }

  &__avatar {
    img {
      height: 100px;
      border-radius: 100%;
    }
  }

  h3 {
    text-align: center;
    padding-bottom: 30px;
  }

  p {
    text-align: center;
  }

  &--center {
    margin: auto;
  }

  @include when-wider-than(tablet) {
    &__desc {
      padding: 0 80px;
    }
  }
}
