@import "colors";
@import "when-than";


.og__recommendations {
  margin: 45px 0;
  background-color: $white;
  position: relative;
  padding: 0 30px;
  display: block;

  h3 {
    text-align: center;
    padding-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  &__item {
    padding-right: 15px;
    width: 100%;
    text-align: center;

    &:hover {
      .og__recommendations__hover {
        display: block;
      }

      .og__recommendations__intro {
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear, height 0s 1s;
      }
    }
  }

  &__author {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__intro {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

    .fa {
      font-size: 40px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  &__hover {
    display: none;
    background: $white;
    p {
      text-align: center;
      font-size: 13px ;
    }
  }
  @include when-wider-than(tablet) {
    height: 206px;

    &__wrapper {
      flex-direction: row;
    }
  }
}
