@import "colors";

@keyframes marquee-right {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translate(100%);
  }

  100% {
    transform: translate(101%);
  }
}

@keyframes dot-appears {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translate(100%);
  }

  100% {
    transform: translate(100%);
  }
}

// Page cover
@keyframes cover-down {
  0% {
    height: 100vh;
    transform: translateY(100%) ;
  }

  100% {
    transform: translateY(-100%);
  }
}
