@keyframes marquee-right {
  0% {
    width: 90%;
    transform: translate(0%);
  }

  100% {
    width: 100%;
    transform: translate(100%);

  }
}

// Page cover

@keyframes cover-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}
//
// @keyframes cover-down {
//   0% {
//     transform: scale(-100%);
//   }
//
//   100% {
//     transform: sc(0);
//   }
// }
