@import "../assets/styles/utils/colors";
@import "../assets/styles/utils/animations";
@import "../assets/styles/globals/typography";
@import "../assets/styles/globals/grid";
@import "../assets/styles/globals/zindex";

.marquee {
  @extend %grid;
  color: $white;
  opacity: 0;

  .loaded & {
    opacity: 1;
    transition: 2s opacity;
  }

  a {
    color: $white;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      position: absolute;
      background-color: $pink;
      transition: .8s bottom;
    }

    &:hover {

      &:after {
        bottom: 5px;
        height: 15px;
        bottom: 10px;
        transition: .5s bottom;
      }
    }
  }

  h2 {
    font-family: $heading-font-family;
    color: $off-white;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    z-index: $z-marquee;

    span {
      display: inline-block;
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        background-color: $pink;
        position: absolute;
        height: 60px;
      }
    }
  }

  &--animated h2 span {
    &:before {
      animation: marquee-right .5s forwards;
    }
  }
}
