@import "../assets/styles/utils/colors";
@import "../assets/styles/utils/animations";
@import "../assets/styles/globals/typography";
@import "../assets/styles/globals/grid";

.marquee {
  @extend %grid;
  color: $white;
  opacity: 0;

  .loaded & {
    opacity: 1;
    transition: 2s opacity;
  }

  h2 {
    font-family: $heading-font-family;
    color: $off-white;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    span {
      display: inline-block;
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        background-color: $pink;
        position: absolute;
        height: 60px;
      }
    }
  }

  &--animated h2 span {
    &:before {
      animation: marquee-right .5s cubic-bezier(0.22, 1.21, 0.65, 0.47) forwards;
    }
  }
}
