@import "../assets/styles/utils/colors";
@import "../assets/styles/utils/when-than";
@import "../assets/styles/globals/grid";

.navigation {
  @extend %grid;
  color: $white;
  display: flex;
  justify-content: space-between;
  opacity: 0;

  a {
    color: $white;
  }

  .loaded & {
    opacity: 1;
    transition: 2s opacity;
  }

  &__links {
    display: flex;

    li {
      list-style: none;
      margin-right: 10px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  &__title {
    span {
      vertical-align: super;
    }
  }

  @include when-wider-than(tablet) {
    margin-bottom: 40px;

      &__links {
        li {
          margin-right: 40px;
        }
      }
  }
}
