@import "/utils/colors";
@import "/globals/typography";
@import "../assets/styles/utils/animations";

body {
  background: $bg;

  &::before {
    content: '';
    top: 0;
    height: 1000px;
    background-color: $pink;
    position: absolute;
    width: 100%;
    animation: cover-down 1.5s cubic-bezier(0.22, 1.21, 0.65, 0.47) ;
  }
}
