@import "/utils/colors";
@import "/globals/typography";
@import "../assets/styles/utils/animations";

body {
  background: $bg;

  .container {
    &::before {
      content: '';
      height: 100%;
      top: 0;
      background-color: $pink;
      position: absolute;
      width: 100%;
    }
  }

  .animated {
    &:before {
      animation: cover-down 1s forwards;
    }
  }
}
