@import "../assets/styles/utils/when-than";

$margin-bottom: 20px;
$margin-bottom-md: 40px;
$margin-bottom-lg: 60px;

%grid {
  padding: 0 20px;
  margin-bottom: $margin-bottom-md;

  @include when-wider-than(tablet) {
    padding: 0 46px;
    margin-bottom: $margin-bottom-md;
  }

  @include when-wider-than(small_desktop) {
    padding: 0 60px;
    margin-bottom: $margin-bottom-lg;
  }
}

%spacer {
  margin-bottom: $margin-bottom-md;

  @include when-wider-than(tablet) {
    margin-bottom: $margin-bottom-md;
  }

  @include when-wider-than(small_desktop) {
    margin-bottom: $margin-bottom-lg;
  }
}
