@import "../assets/styles/utils/when-than";

$padding-bottom: 20px;
$padding-bottom-md: 40px;
$padding-bottom-lg: 60px;

%grid {
  margin: 0 20px;
  padding-bottom: $padding-bottom-md;

  @include when-wider-than(tablet) {
    margin: 0 46px;
    padding-bottom: $padding-bottom-md;
  }

  @include when-wider-than(small_desktop) {
    margin: 0 60px;
    padding-bottom: $padding-bottom-lg;
  }
}
