@font-face {
  font-family: 'to';
  src:  url('../../fonts/to.eot?jen0sw');
  src:  url('../../fonts/to.eot?jen0sw#iefix') format('embedded-opentype'),
    url('../../fonts/to.ttf?jen0sw') format('truetype'),
    url('../../fonts/to.woff?jen0sw') format('woff'),
    url('../../fonts/to.svg?jen0sw#to') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'to' !important;
  speak: none;
  text-decoration: none; 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "\e902";
}

.icon-paypal:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e900";
}

.icon-github:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e920";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-twitter:before {
  content: "\e904";
}

.icon-plotly:before {
  content: "\e906";
}

.icon-cf:before {
  content: "\e907";
}

.icon-aba:before {
  content: "\e908";
}

.icon-xfinity-mobile:before {
  content: "\e909";
}

.icon-new-york-life-1 .path1:before {
  content: "\e919";
}

.icon-new-york-life-1 .path2:before {
  content: "\e91a";
  margin-left: -1em;
}

.icon-new-york-life-1 .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-new-york-life-1 .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-new-york-life-1 .path5:before {
  content: "\e91d";
  margin-left: -1em;
}

.icon-new-york-life-1 .path6:before {
  content: "\e91e";
  margin-left: -1em;
}

.icon-new-york-life-1 .path7:before {
  content: "\e91f";
  margin-left: -1em;
}

.icon-national-geographic:before {
  content: "\e912";
}

.icon-juilliard:before {
  content: "\e913";
}

.icon-americamerican-express .path1:before {
  content: "\e914";
  color: rgb(255, 255, 255);
}

.icon-americamerican-express .path2:before {
  content: "\e915";
  margin-left: -1em;
}

.icon-maybelline:before {
  content: "\e916";
}

.icon-dow-jones:before {
  content: "\e917";
}

.icon-savage-bureau:before {
  content: "\e918";
}
