name: Build & Deploy

on:
  push:
    branches: [main]

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Portfolio to Digital Ocean
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }} # IP address of the server you wish to ssh into
        key: ${{ secrets.SSH_KEY }} # Private or public key of the server
        username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install 22
          nvm use 22
          cd /var/www/html/portfolio
          git pull origin main
          rm -rf node_modules
          npm install
          npm run generate
